body {
	font-family: Arial;
	font-size: 16px;
}

#header {
	width: 100%;
	background-color: #FAFAFA;
	border-bottom: 1px solid gray;
}

.column {
	float: left;
	width: 33.33%;
	text-align: center;
}
.logo {
	text-align: left;
}
.title {
	font-family: Arial;
	font-size: 26px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#userinput {
	width: 40%;
	margin: auto;
	font-size: 14px;
}

#userinput th, #result th {
	text-align: center;
	/*background-color: gray;*/
}

#from, #to {
	font-size: 14px;
	text-align: center;
	width: 100%;
}


.sidenav {
  width: 130px;
  height: 100%;
  position: fixed;
  background: #FAFAFA;
  border-right: 1px solid gray;
}

.sidenav a {
  padding: 0px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
}
.sidenav h5 {
  opacity: 50%;
  text-align: center;
}

.sidenav hr {
  display: block;
  margin-top: -5px;
}
.sidenav a:hover {
  color: #2196F3;
}


#result {
  width: 70%;
  margin: auto;
}

.student_table {
  width: 50%;
}
