body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
}

#mainContainer {
    background-color: #FAFAFA;
}

#header {
    width: 100%;
    background-color: #FAFAFA;
    /*top: 0;*/
    border-bottom: 1px solid gray;
}

.logo {
padding-left: 20px;
}

.title {
    font-size: 26px;
}



#userInputTable {
    margin-bottom: 10px;
}

.sidenav {
    min-width: 150px !important;
    max-width: 160px !important;
    padding-top: 20px;
    height: 100vh !important;
    /*height: max-content;*/
    background: #FAFAFA;
    border-right: 1px solid gray;
}

.sidenav a {
    padding: 0px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
}

.sidenav h5 {
    opacity: 50%;
    text-align: center;
}

.sidenav hr {
    display: block;
    margin-top: -5px;
}

.sidenav a:hover {
    color: #2196F3;
}

.textRight {
    text-align: right !important;
    /*border: 1px solid #ccc;*/
}
.textLeft {
    text-align: left !important;
    /*border: 1px solid #ccc;*/
}

.student_table {
    margin: 30px;
}

#leftDiv{
}
#feesListDiv, #paymentModeDiv {
    padding-left: 5%;
    padding-right: 10%;
}
#gradesListDiv{
    padding-right: 2%;
}

#feesListDiv {
    /*background-color: #9c27b0;*/
    /*width: 80%;*/
}

#gradesList {
    /*color: red;*/
    border-spacing: 1px;
}
#feesList, #paymentMode {
}
#gradesList td{
    padding: 1px;
}
#feesList td, #paymentMode td {
    padding: 0;
}
#feesList th, #paymentMode th, #gradesList th{
    padding: 1px;
}

.table.table-hover tbody tr:hover {
    background-color: #BF0608;
    color: white;
}

.table.table-hover thead tr:hover {
    background-color: black;
    color: white;
}
table td {
    font-weight: bold !important;
}