body {
	font-family: Arial;
	font-size: 16px;
}
#header {
	width: 100%;
	background-color: #FAFAFA;
	border-bottom: 1px solid gray;
}

.column {
	float: left;
	width: 33.33%;
	text-align: center;
}
.logo {
	text-align: left;
}
.title {
	font-family: Arial;
	font-size: 26px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#userinput {
	width: 40%;
	margin: auto;
	font-size: 14px;
}

#userinput th {
	text-align: center;
	/*background-color: gray;*/
}

#from, #to {
	font-size: 14px;
	text-align: center;
	width: 100%;
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 35px;
  background-color: #4CAF50;
}

#blog {
  top: 95px;
  background-color: #2196F3; /* Blue */
}

#projects {
  top: 155px;
  background-color: #f44336; /* Red */
}

#contact {
  top: 215px;
  background-color: #555 /* Light Black */
}